{
  "extends": ["airbnb", "airbnb/hooks", "prettier"],
  "env": {
    "browser": true
  },
  "rules": {
    "semi": [2, "never"],
    "react/jsx-filename-extension": 0,
    "jsx-quotes": [2, "prefer-single"],
    "react/jsx-one-expression-per-line": 0
  },
  "overrides": [
    {
      "files": ["*.test.js"],
      "env": {
        "jest": true
      }
    },
    {
      "files": ["scripts/**/*", "config/**/*"],
      "env": {
        "node": true
      },
      "rules": {
        "global-require": 0,
        "import/no-extraneous-dependencies": [
          2,
          {
            "devDependencies": true
          }
        ],
        "import/order": 0,
        "import/no-dynamic-require": 0
      }
    }
  ]
}
